---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'solarized-dark' }}",
  "minima/initialize";


body {
  font-size: 20px;
  color: black;
  background-color: lavender;
}

body .site-header .site-nav .page-link {
  font-size: 15px;
  color: black;
}

.footer-col {
  color: black;
}

body .site-header .site-title {
  font-weight: 20;
  font-size: 25px;
  color: black;
}

img[alt=SCSSLogo] {
  width: 150px;
  padding: 20px;

}

img[alt=CSSLogo] {
  width: 150px;
  padding: 20px;
}

body .page-content .post-list .post-link {
  color: black;
}